{% load static %}
{% extends 'layouts/base.html' %}

{% block content %}
    <!--======== Blog Single Page Start =========-->
    <section class="rs-blog-single-page pt-80 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="rs-blog-single-page__content mt-40">
                        <div class="rs-thumb pb-45">
                            <img src="{% static 'assets/images/blog/column-blog-7.jpg' %}" alt="">
                        </div>
                        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality.</p>
                        <p class="mt-20">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
                        <h2 class="title mt-45 pb-20">Our personal approach</h2>
                        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
                        <div class="row mb-20">
                            <div class="col-lg-6">
                                <div class="rs-thumb mt-20">
                                    <img style="border-radius: 10px;" src="{% static 'assets/images/blog/blog-single-thumb-1.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-20">
                                <div class="rs-thumb">
                                    <img style="border-radius: 10px;" src="{% static 'assets/images/blog/blog-single-thumb-2.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from. Nanotechnology immersion along the information.</p>
                        <div class="rs-quote-text">
                            <p>“Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior.”</p>
                            <span><span>- Jhon Henry</span> , CEO at Notero JSC </span>
                        </div>
                        <div class="rs-play">
                            <img src="{% static 'assets/images/blog/blog-single-play.jpg' %}" alt="">
                            <div class="play-icon">
                                <a class="rs-popup-videos" href="https://www.youtube.com/watch?v=5CLmRIHR5Zw"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <h3 class="title mt-30 mb-20">Provide exclusive solutions</h3>
                        <p>Podcasting operational change management inside of workflows to establish a framework, Taking seamless key performance indicators offline.</p>
                        <ul>
                            <li><i class="ri-share-forward-fill"></i> Everything in your industry that happens text with their software passage</li>
                            <li><i class="ri-share-forward-fill"></i> Distribution patterns may not be as critical the text with their software</li>
                            <li><i class="ri-share-forward-fill"></i> Analysis is part of good management history of lorem ipsum the text with their</li>
                        </ul>
                        <div class="rs-form">
                            <h3 class="title">Leave a Reply</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-box">
                                            <input type="text" placeholder="Name*">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box">
                                            <input type="email" placeholder="Email*">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-box">
                                            <textarea name="#" id="#" placeholder="Comment*"></textarea>
                                            <button class="main-btn" type="submit">Post Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="rs-blog-standard-page__sidebar mt-40">
                        <div class="rs-blog-search rs-blog-common">
                            <form action="#">
                                <div class="rs-search">
                                    <input type="text" placeholder="Searching...">
                                    <button class="main-btn" type="submit"><i class="ri-search-line"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="rs-blog-category rs-blog-common mt-40">
                            <h4 class="rs-sidebar-title">Categories</h4>
                            <ul>
                                <li><a href="blog-single.html">Application <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="blog-single.html">Cyber <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="blog-single.html">Design <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="blog-single.html">Digital <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="blog-single.html">Software <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="blog-single.html">Technology <i class="ri-arrow-right-fill"></i></a></li>
                            </ul>
                        </div>
                        <div class="rs-blog-sidebar-post rs-blog-common mt-40">
                            <h4 class="rs-sidebar-title">Recent Posts</h4>
                            <div class="rs-blog-sidebar-item mb-25">
                                <div class="rs-thumb">
                                    <a href="blog-single.html"><img src="{% static 'assets/images/blog/side-blog-1.jpg' %}" alt=""></a>
                                </div>
                                <div class="rs-content">
                                    <h5 class="title"><a href="blog-single.html">10 reliable sources to learn about it solution</a></h5>
                                    <span><i class="ri-calendar-line"></i> March 21, 2023 </span>
                                </div>
                            </div>
                            <div class="rs-blog-sidebar-item mb-25">
                                <div class="rs-thumb">
                                    <a href="blog-single.html"><img src="{% static 'assets/images/blog/side-blog-2.png' %}" alt=""></a>
                                </div>
                                <div class="rs-content">
                                    <h5 class="title"><a href="blog-single.html"> How do you become a graphic designer? </a></h5>
                                    <span><i class="ri-calendar-line"></i> March 21, 2023 </span>
                                </div>
                            </div>
                            <div class="rs-blog-sidebar-item mb-25">
                                <div class="rs-thumb">
                                    <a href="blog-single.html"><img src="{% static 'assets/images/blog/side-blog-3.jpg' %}" alt=""></a>
                                </div>
                                <div class="rs-content">
                                    <h5 class="title"><a href="blog-single.html">Simple guidance for you in web development</a></h5>
                                    <span><i class="ri-calendar-line"></i> March 21, 2023 </span>
                                </div>
                            </div>
                            <div class="rs-blog-sidebar-item mb-25">
                                <div class="rs-thumb">
                                    <a href="blog-single.html"><img src="{% static 'assets/images/blog/side-blog-4.jpg' %}" alt=""></a>
                                </div>
                                <div class="rs-content">
                                    <h5 class="title"><a href="blog-single.html">Techzen App Development Complete Guide </a></h5>
                                    <span><i class="ri-calendar-line"></i> March 21, 2023 </span>
                                </div>
                            </div>
                            <div class="rs-blog-sidebar-item">
                                <div class="rs-thumb">
                                    <a href="blog-single.html"><img src="{% static 'assets/images/blog/side-blog-5.jpg' %}" alt=""></a>
                                </div>
                                <div class="rs-content">
                                    <h5 class="title"><a href="blog-single.html"> Tips to help you build your social media </a></h5>
                                    <span><i class="ri-calendar-line"></i> March 21, 2023 </span>
                                </div>
                            </div>
                        </div>
                        <div class="rs-blog-tags rs-blog-common mt-40">
                            <h4 class="rs-sidebar-title">Tags</h4>
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">Consulting</a></li>
                                <li><a href="#">Cyber</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Digital</a></li>
                                <li><a href="#">Software</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                        </div>
                        <div class="rs-blog-social rs-blog-common mt-40">
                            <h4 class="rs-sidebar-title">Tags</h4>
                            <ul>
                                <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-x-fill"></i> </a></li>
                                <li><a href="#"><i class="ri-pinterest-line"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                <li><a href="#"><i class="ri-youtube-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Blog Single Page Ends ========-->
{% endblock %}
