{% load static %}
{% extends 'layouts/base.html' %}

{% block content %}
    <!--======== Contact Page Banner Start =========-->
    <section class="rs-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rs-page-banner__content">
                        <h1 class="title">Contact</h1>
                        <ul>
                            <li><i class="ri-home-wifi-line"></i> <a href="#">Home</a></li>
                            <li><i class="ri-arrow-right-fill"></i> Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Contact Page Banner Ends ========-->

    <!--======== Contact Page Start ========-->
    <section class="rs-contact-page pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="rs-contact-page__info">
                        <div class="rs-section-title black">
                            <h3 class="title split-in-fade">Get in touch with us</h3>
                            <p>Podcasting operational change management inside of workflows to establish a framework.</p>
                        </div>
                        <div class="rs-contact-page__info-box">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="title mb-15">USA Branch:</h5>
                                    <div class="info-box-item">
                                        <div class="rs-info-icon">
                                            <i class="ri-map-2-line"></i>
                                        </div>
                                        <div class="rs-info-contact">
                                            <span>Address</span>
                                            <h5 class="title">2972 Westheimer Rd. Santa Ana </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box-item mb-15">
                                        <div class="rs-info-icon">
                                            <i class="ri-phone-line"></i>
                                        </div>
                                        <div class="rs-info-contact">
                                            <span>Call Us</span>
                                            <h5 class="title"><a href="tel:+85526691234">+855 (2669) 1234</a> </h5>
                                        </div>
                                    </div>
                                    <div class="info-box-item">
                                        <div class="rs-info-icon">
                                            <i class="ri-mail-send-line"></i>
                                        </div>
                                        <div class="rs-info-contact">
                                            <span>Email Us</span>
                                            <h5 class="title"><a href="mailto:info@support.com' %}">info@support.com</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rs-contact-page__info-box mt-20">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="title mb-15">UK Branch:</h5>
                                    <div class="info-box-item">
                                        <div class="rs-info-icon">
                                            <i class="ri-map-2-line"></i>
                                        </div>
                                        <div class="rs-info-contact">
                                            <span>Address</span>
                                            <h5 class="title">2972 Westheimer Rd. Santa Ana </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box-item mb-15">
                                        <div class="rs-info-icon">
                                            <i class="ri-phone-line"></i>
                                        </div>
                                        <div class="rs-info-contact">
                                            <span>Call Us</span>
                                            <h5 class="title"><a href="tel:+85526691234">+855 (2669) 1234</a> </h5>
                                        </div>
                                    </div>
                                    <div class="info-box-item">
                                        <div class="rs-info-icon">
                                            <i class="ri-mail-send-line"></i>
                                        </div>
                                        <div class="rs-info-contact">
                                            <span>Email Us</span>
                                            <h5 class="title"><a href="mailto:info@support.com' %}">info@support.com</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rs-contact-page__info-social mt-20">
                            <h5 class="title">Follow Us:</h5>
                            <ul>
                                <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-x-fill"></i></a></li>
                                <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#"><i class="ri-youtube-fill"></i></a></li>
                                <li><a href="#"><i class="ri-github-fill"></i></a></li>
                                <li><a href="#"><i class="ri-vimeo-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rs-contact-page__content">
                        <div class="rs-section-title black">
                            <h3 class="title split-in-fade">Let’s discuss the project</h3>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews strategy foster collaborative thinking to further the overall value proposition diversity and empowerment.</p>
                        </div>
                        <form id="contact-form" action="assets/php/contact.php' %}" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="text" id="name" name="name" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="email" id="email" name="email" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="text" id="topic" name="topic" placeholder="Your Topic">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="text" id="phone" name="phone" placeholder="Your Phone">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <textarea name="message" id="message" placeholder="Message..."></textarea>
                                        <button type="submit" class="main-btn">Send Message <i class="ri-arrow-right-fill"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p id="form-messages" class="form-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Contact Page Ends ========-->

    <!--======== Contact Brand Start ========-->
    <div class="rs-contact-brand pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rs-brand__top-title">
                        <img src="{% static 'assets/images/heart-pulse-rate-orange-2.svg' %}" alt="">
                        <span>More than 5K+ Brands with work Techzen</span>
                        <img src="{% static 'assets/images/heart-pulse-rate-orange.svg' %}" alt="">
                    </div>
                    <div class="rs-contact-brand__box mb-30">
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner1.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-1.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner2.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-2.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner3.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-3.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner4.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-4.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item last-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner5.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-5.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="rs-contact-brand__box">
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner9.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-6.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner10.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-7.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner6.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-8.png' %}" alt=""></a>
                        </div>
                        <div class="brand-item">
                            <a href="#"><img src="{% static 'assets/images/brand/partner11.png' %}" alt=""> <img class="item-2" src="{% static 'assets/images/brand/partner-white-2.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--======== Contact Brand Ends ========-->

    <!--======== Contact Map Start ========-->
    <div class="rs-contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20128.64413861943!2d-2.7421899750884515!3d54.66992213532175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487cfb78a54e4379%3A0xa63b24b99a2bf8fd!2sSainsbury&#39;s!5e0!3m2!1sen!2sbd!4v1701238095633!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--======== Contact Map Ends ========-->
{% endblock %}

