{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!--======== Faq Page Banner Start =========-->
    <section class="rs-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rs-page-banner__content">
                        <h1 class="title">Faq</h1>
                        <ul>
                            <li><i class="ri-home-wifi-line"></i> <a href="#">Home</a></li>
                            <li><i class="ri-arrow-right-fill"></i> Faq</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Faq Page Banner Ends ========-->

    <!--======== Faq Page Start ========-->
    <div class="rs-faq-page pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="rs-faq-page__box">
                        <div class="rs-faq__wrapper">
                            <div class="accordion active">
                                <div class="accordion_tab active">
                                    01 How to use BongoCore services?
                                    <div class="accordion_arrow">
                                        <i class="ri-add-fill"></i>
                                    </div>
                                </div>
                                <div class="accordion_content">
                                    <div class="accordion_item">
                                        <p>The rapid pace of technological progress has revolutionized every aspect of our
                                            lives, leading to increased efficiency, connectivity, and access to information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <div class="accordion_tab">
                                    02 How to soft launch your business?
                                    <div class="accordion_arrow">
                                        <i class="ri-add-fill"></i>
                                    </div>
                                </div>
                                <div class="accordion_content">
                                    <div class="accordion_item">
                                        <p>Podcasting operational change management inside of workflows to establish a
                                            framework. Taking seamless key performance indicators offline to maximise the
                                            long tail.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <div class="accordion_tab">
                                    03 How to turn visitors into contributors?
                                    <div class="accordion_arrow">
                                        <i class="ri-add-fill"></i>
                                    </div>
                                </div>
                                <div class="accordion_content">
                                    <div class="accordion_item">
                                        <p>Technology is at the forefront of innovation and progress, enabling us to tackle
                                            some of the world’s biggest challenges and improve the quality of life for
                                            people around the globe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <div class="accordion_tab">
                                    04. How to soft launch your business?
                                    <div class="accordion_arrow">
                                        <i class="ri-add-fill"></i>
                                    </div>
                                </div>
                                <div class="accordion_content">
                                    <div class="accordion_item">
                                        <p>Technology is at the forefront of innovation and progress, enabling us to tackle
                                            some of the world’s biggest challenges and improve the quality of life for
                                            people around the globe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <div class="accordion_tab">
                                    05. How to soft launch your business?
                                    <div class="accordion_arrow">
                                        <i class="ri-add-fill"></i>
                                    </div>
                                </div>
                                <div class="accordion_content">
                                    <div class="accordion_item">
                                        <p>Technology is at the forefront of innovation and progress, enabling us to tackle
                                            some of the world’s biggest challenges and improve the quality of life for
                                            people around the globe.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rs-faq-page__thumb">
                        <img src="{% static 'assets/images/faq/faq-left-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--======== Faq Page Ends ========-->

    <!--======== Faq Contact Start ========-->
    <section class="rs-contact rs-faq-contact pt-110 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7"></div>
                <div class="col-lg-5">
                    <div class="rs-section-title black">
                        <div class="top-sub-heading">
                            <img src="{% static 'assets/images/heart-pulse-rate-orange-2.svg' %}" alt="icon">
                            <span>Contact Us</span>
                            <img src="{% static 'assets/images/heart-pulse-rate-orange.svg' %}" alt="icon">

                        </div>
                        <h2 class="title split-in-fade">Send message</h2>
                    </div>
                    <div class="rs-contact__form-box">
                        <form id="contact-form" action="assets/php/contact.php' %}" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="text" id="name" name="name" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="email" id="email" name="email" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="text" id="topic" name="topic" placeholder="Your Topic">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <input type="text" id="phone" name="phone" placeholder="Your Phone">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <textarea name="message" id="message" placeholder="Message..."></textarea>
                                        <button type="submit" class="main-btn">Send Message <i class="ri-arrow-right-fill"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p id="form-messages" class="form-message"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rs-contact__thumb">
            <img src="{% static 'assets/images/contact/contact-man.png' %}" alt="">
            <img class="item-2" src="{% static 'assets/images/contact/contact-image02.png' %}" alt="">
        </div>
        <div class="rs-contact__shape1">
            <img src="{% static 'assets/images/contact/circle-plus.svg' %}" alt="">
        </div>
        <div class="rs-contact__shape2">
            <img src="{% static 'assets/images/contact/contact_arrow_right.png' %}" alt="">
        </div>
    </section>
    <!--======== Faq Contact Ends ========-->
{% endblock %}
