{% load static %}
{% extends 'layouts/base.html' %}

{% block content %}
    <!--======== Pricing Page Banner Start =========-->
    <section class="rs-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rs-page-banner__content">
                        <h1 class="title">Pricing</h1>
                        <ul>
                            <li><i class="ri-home-wifi-line"></i> <a href="#">Home</a></li>
                            <li><i class="ri-arrow-right-fill"></i> Pricing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Pricing Page Banner Ends ========-->

    <!--======== Pricing Grid Start ========-->
    <section class="rs-pricing-grid  pt-125 pb-120">
        <div class="container">
            <div class="row align-items-center mb-30">
                <div class="col-lg-6">
                    <div class="rs-section-title black">
                        <div class="top-sub-heading">
                            <img src="{% static 'assets/images/heart-pulse-rate-orange-2.svg' %}" alt="icon">
                            <span>Start Business</span>
                            <img src="{% static 'assets/images/heart-pulse-rate-orange.svg' %}" alt="icon">
                        </div>
                        <h2 class="title split-in-fade">Our popular pricing package</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rs-pricing-top-text">
                        <p> Bring to the table win-win survival strategies to ensure proactive domination At the end of the day.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="rs-pricing__item">
                        <div class="rs-pricing__top-header">
                            <span>Silver Package</span>
                            <div class="rs-pricing__price-box">
                                <h3 class="title">$29.00 <span>Per Month</span></h3>
                            </div>
                        </div>
                        <div class="rs-pricing__body">
                            <ul>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> 30 Days Trial Features</li>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> Unlimited Features</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Multi-Language Content</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Data backup and recovery</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Synced To Cloud Database</li>
                            </ul>
                            <a class="main-btn" href="contact.html">Get Started <i class="ri-arrow-right-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rs-pricing__item">
                        <div class="rs-pricing__top-header">
                            <span>Gold Package</span>
                            <div class="rs-pricing__price-box">
                                <h3 class="title">$49.00 <span>Per Month</span></h3>
                            </div>
                        </div>
                        <div class="rs-pricing__body">
                            <ul>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> 30 Days Trial Features</li>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> Unlimited Features</li>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> Multi-Language Content</li>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> Data backup and recovery</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Synced To Cloud Database</li>
                            </ul>
                            <a class="main-btn" href="contact.html">Get Started <i class="ri-arrow-right-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rs-pricing__item last-item">
                        <div class="rs-pricing__top-header">
                            <span>Platinum Package</span>
                            <div class="rs-pricing__price-box">
                                <h3 class="title">$99.00 <span>Per Month</span></h3>
                            </div>
                        </div>
                        <div class="rs-pricing__body">
                            <ul>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> 30 Days Trial Features</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Unlimited Features</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Multi-Language Content</li>
                                <li class="list disabled"><i class="ri-checkbox-blank-circle-line"></i> Data backup and recovery</li>
                                <li class="list"><i class="ri-checkbox-circle-line"></i> Synced To Cloud Database</li>
                            </ul>
                            <a class="main-btn" href="contact.html">Get Started <i class="ri-arrow-right-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Pricing Grid Ends ========-->

    <!--======== Pricing Contact Start ========-->
    <div class="rs-pricing-contact pt-90 pb-90">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="rs-pricing-contact__content">
                        <h4 class="title">Let’s create big stories together.</h4>
                        <p>Mobile is in our nerves. We don’t just build apps, we create brand Choosing us will be your best decision.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rs-pricing-contact__info">
                        <div class="info-box">
                            <div class="rs-icon">
                                <img src="{% static 'assets/images/phone-call-1.png' %}" alt="">
                            </div>
                            <div class="rs-content">
                                <h4 class="title">Contact Us</h4>
                                <a href="tel:6845550102">(684) 555-0102</a>
                            </div>
                        </div>
                        <div class="info-box mt-20">
                            <div class="rs-icon">
                                <img src="{% static 'assets/images/pricing/email_icon_img.png' %}" alt="">
                            </div>
                            <div class="rs-content">
                                <h4 class="title">Email Us</h4>
                                <a href="tel:info@yourdomail.com' %}">info@yourdomail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--======== Pricing Contact Ends ========-->

    <!--======== Pricing Testimonial Start ========-->
    <section class="rs-testimonial rs-pricing-testimonial mt-110 pb-100 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="rs-section-title black">
                        <div class="top-sub-heading">
                            <img src="{% static 'assets/images/heart-pulse-rate-orange-2.svg' %}" alt="icon">
                            <span>Testimonials</span>
                            <img src="{% static 'assets/images/heart-pulse-rate-orange.svg' %}" alt="icon">
                        </div>
                        <h2 class="title split-in-fade">What customers said about our ‘Techzen’</h2>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="rs-carousel owl-carousel nav-style1" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="false" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="2" data-lg-device="3" data-md-device-nav="true" data-md-device-dots="false" data-doteach="false">
                <div class="rs-testimonial__item">
                    <div class="rs-testimonial-content-box">
                        <p>Worldwide phosfluorescently engage  methodologies with in web-enabled technology. Interactively coordinate proactive e-commerce via.</p>
                        <div class="rs-ratings">
                            <img src="{% static 'assets/images/testimonial/rating-1.png' %}" alt="">
                        </div>
                        <div class="rs-quote">
                            <img src="{% static 'assets/images/testimonial/quote-white.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="rs-testimonial-user">
                        <div class="thumb">
                            <img src="{% static 'assets/images/testimonial/testi1.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Matthew Taylor</h4>
                            <span>SEO & Founder, Facebook</span>
                            <div class="country">
                                <img src="{% static 'assets/images/testimonial/flag-1.jpg' %}" alt="">
                                <span> New York, USA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-testimonial__item">
                    <div class="rs-testimonial-content-box">
                        <p>Engage worldwide phosfluorescently methodologies with in web-enabled technology. Interactively coordinate proactive e-commerce via.</p>
                        <div class="rs-ratings">
                            <img src="{% static 'assets/images/testimonial/rating-1.png' %}" alt="">
                        </div>
                        <div class="rs-quote">
                            <img src="{% static 'assets/images/testimonial/quote-white.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="rs-testimonial-user">
                        <div class="thumb">
                            <img src="{% static 'assets/images/testimonial/testi2.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Lynda Robards</h4>
                            <span>Company SEO, Google</span>
                            <div class="country">
                                <img src="{% static 'assets/images/testimonial/flag-2.jpg' %}" alt="">
                                <span>Canada</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-testimonial__item">
                    <div class="rs-testimonial-content-box">
                        <p>Worldwide engage phosfluorescently methodologies with in web-enabled technology. Interactively coordinate proactive e-commerce via.</p>
                        <div class="rs-ratings">
                            <img src="{% static 'assets/images/testimonial/rating-1.png' %}" alt="">
                        </div>
                        <div class="rs-quote">
                            <img src="{% static 'assets/images/testimonial/quote-white.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="rs-testimonial-user">
                        <div class="thumb">
                            <img src="{% static 'assets/images/testimonial/testi3.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Esther Howard</h4>
                            <span>CEO & Founder</span>
                            <div class="country">
                                <img src="{% static 'assets/images/testimonial/flag-3.jpg' %}" alt="">
                                <span>Donkey Town, UK</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-testimonial__item">
                    <div class="rs-testimonial-content-box">
                        <p>Phosfluorescently worldwide engage methodologies with in web-enabled technology. Interactively coordinate proactive e-commerce via.</p>
                        <div class="rs-ratings">
                            <img src="{% static 'assets/images/testimonial/rating-1.png' %}" alt="">
                        </div>
                        <div class="rs-quote">
                            <img src="{% static 'assets/images/testimonial/quote-white.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="rs-testimonial-user">
                        <div class="thumb">
                            <img src="{% static 'assets/images/testimonial/testi4.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Ana Martins</h4>
                            <span>CEO, Bribbble LLC</span>
                            <div class="country">
                                <img src="{% static 'assets/images/testimonial/flag-4.jpg' %}" alt="">
                                <span>  Madrid, Spain</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-testimonial__item">
                    <div class="rs-testimonial-content-box">
                        <p>Phosfluorescently engage worldwide methodologies with in web-enabled technology. Interactively coordinate proactive e-commerce via.</p>
                        <div class="rs-ratings">
                            <img src="{% static 'assets/images/testimonial/rating-1.png' %}" alt="">
                        </div>
                        <div class="rs-quote">
                            <img src="{% static 'assets/images/testimonial/quote-white.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="rs-testimonial-user">
                        <div class="thumb">
                            <img src="{% static 'assets/images/testimonial/testi5.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Nicolas Ribeiro</h4>
                            <span>HR, Envato</span>
                            <div class="country">
                                <img src="{% static 'assets/images/testimonial/flag-5.jpg' %}" alt="">
                                <span>Sydney, Australia</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Pricing Testimonial Ends ========-->
{% endblock %}
