    <!--======== Service Details Page Banner Start ========-->
    <section class="rs-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rs-page-banner__content">
                        <h1 class="title">Services Details</h1>
                        <ul>
                            <li><i class="ri-home-wifi-line"></i> <a href="#">Home</a></li>
                            <li><i class="ri-arrow-right-fill"></i> Services Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Service Details Page Banner Ends ========-->

    <!--======== Service Details 1 Start ========-->
    <section class="rs-service-details pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="rs-service-details__content">
                        <div class="rs-thumb">
                            <img src="assets/images/service/service-details-thumb-1.jpg" alt="">
                        </div>
                        <div class="rs-content">
                            <h3 class="title">Digital Marketing</h3>
                            <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                            <div class="quote-text">
                                <p>“Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior.”</p>
                            </div>
                            <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
                            <h3 class="title mt-30">Working challenge</h3>
                            <div class="rs-service-list-box">
                                <div class="rs-thumb">
                                    <img src="assets/images/service/service-detail-small-img.jpg" alt="">
                                </div>
                                <div class="rs-list">
                                    <ul>
                                        <li><i class="ri-share-forward-fill"></i> Document the short and long term goals.</li>
                                        <li><i class="ri-share-forward-fill"></i> Automated development pipelines.</li>
                                        <li><i class="ri-share-forward-fill"></i> Objectively innovate empowered.</li>
                                        <li><i class="ri-share-forward-fill"></i> Predominate extensible testing procedures.</li>
                                        <li><i class="ri-share-forward-fill"></i> Phosfluorescently engage worldwide.</li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title pt-40 pb-15">Benefits with our service</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="rs-service-benefit">
                                        <h4 class="title">Flexible Solutions</h4>
                                        <p>Proactively envisioned multimedia based expertise and cross-media growth.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="rs-service-benefit">
                                        <h4 class="title">24/7 Unlimited Support</h4>
                                        <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="title pt-40 pb-15">Questions about service</h3>
                            <div class="rs-faq__wrapper">
                                <div class="accordion active">
                                    <div class="accordion_tab active">
                                        01 How to use Techzen?
                                        <div class="accordion_arrow">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </div>
                                    <div class="accordion_content">
                                        <div class="accordion_item">
                                            <p>Technology is at the forefront of innovation and progress, enabling us to tackle some of the world’s biggest challenges and improve the quality of life for people around the globe. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion">
                                    <div class="accordion_tab">
                                        02 How to soft launch your business?
                                        <div class="accordion_arrow">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </div>
                                    <div class="accordion_content">
                                        <div class="accordion_item">
                                            <p>Technology is at the forefront of innovation and progress, enabling us to tackle some of the world’s biggest challenges and improve the quality of life for people around the globe. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion">
                                    <div class="accordion_tab">
                                        03 How to turn visitors into contributors?
                                        <div class="accordion_arrow">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </div>
                                    <div class="accordion_content">
                                        <div class="accordion_item">
                                            <p>Technology is at the forefront of innovation and progress, enabling us to tackle some of the world’s biggest challenges and improve the quality of life for people around the globe. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="rs-service-details__sidebar">
                        <div class="category-box sidebar-common">
                            <div class="sidebar-top-title">
                                <h3 class="title">Categories</h3>
                            </div>
                            <ul>
                                <li><a href="service-details.html"><span>IT Solutions</span> <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="service-details.html"><span>Cyber Security</span> <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="service-details.html"><span>Cloud Services</span> <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="service-details.html"><span>Digital Strategy</span> <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="service-details.html"><span>SEO Optimization</span> <i class="ri-arrow-right-fill"></i></a></li>
                                <li><a href="service-details.html"><span>Brand Identity</span> <i class="ri-arrow-right-fill"></i></a></li>
                            </ul>
                        </div>
                        <div class="solution-box sidebar-common mt-40">
                            <h4 class="title">Do you have a Technical Issues?</h4>
                            <a class="main-btn" href="contact.html">Find Solution <i class="ri-arrow-right-fill"></i></a>
                        </div>
                        <div class="download-box sidebar-common mt-40">
                            <div class="sidebar-top-title">
                                <h3 class="title">Download Brochure</h3>
                            </div>
                            <ul>
                                <li><a href="#"><span>Download PDF</span> <i class="ri-download-cloud-2-fill"></i></a></li>
                                <li><a class="active" href="#"><span>Download DOC</span> <i class="ri-download-cloud-2-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== Service Details 1 Ends ========-->
