{% load static %}
    <!--======== Header start ========-->
    <div class="full-width-header">
        <!--Header Start-->
        <header id="rs-header" class="rs-header">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <!-- Offer Section End -->
                <div class="container custom-container">
                    <div class="rs-menu-area">
                        <div class="logo-area">
                            <a href="index.html">
                                <img src="{% static 'assets/images/techzen_logo_home.png' %}" alt="">
                                <img class="dark-logo" src="{% static 'assets/images/footer_logo.png' %}" alt="">
                            </a>
                            <a href="index.html">
                                <img src="{% static 'assets/images/techzen_logo_home.png' %}" alt="">
                                <img class="dark-logo" src="{% static 'assets/images/footer_logo.png' %}" alt="">
                            </a>
                        </div>
                        <div class="rs-header-rightside">
                            <div class="main-menu hidden-md">
                                <ul class="nav-menu">
                                    <li>
                                        <a href="index.html" class="active">Home</a>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="service-1.html">Services</a>
                                    </li>
                                    <li class="has-clid relative">
                                        <a href="#">
                                            <cite class="rs_item_wrap">
                                                Pages
                                                <span class="menu-item-description" title="12">12</span>
                                            </cite>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="project.html">Project</a>
                                            </li>
                                            <li>
                                                <a href="project-details.html">Project Details</a>
                                            </li>
                                            <li>
                                                <a href="team.html">Team</a>
                                            </li>
                                            <li>
                                                <a href="team-details.html">Team Details</a>
                                            </li>
                                            <li>
                                                <a href="pricing.html">Pricing</a>
                                            </li>
                                            <li>
                                                <a href="faq.html">Faq</a>
                                            </li>
                                            <li>
                                                <a href="appointment.html">Appointment</a>
                                            </li>
                                            <li class="has-clid">
                                                <a href="shop.html"> Shop <i class="fa fa-angle-down"></i></a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="shop.html">Product</a>
                                                    </li>
                                                    <li>
                                                        <a href="product-single.html">Product Single</a>
                                                    </li>
                                                    <li>
                                                        <a href="cart.html">Cart</a>
                                                    </li>
                                                    <li>
                                                        <a href="checkout.html">Checkout</a>
                                                    </li>
                                                    <li>
                                                        <a href="my-account.html">My Account</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog-standard.html">Blog</a>
                                    </li>
                                    <li><a href="contact.html">Contact</a> </li>
                                </ul> <!-- //.nav-menu -->
                            </div> <!-- //.main-menu -->
                            <div class="rs-header-contct">
                                <a href="tel:+85526691234"> <img src="{% static 'assets/images/phone-call1.svg' %}" alt=""> (+855) 2669 1234</a>
                            </div>
                            <div class="rs-search-box">
                                <div class="search_icons">
                                    <i class="ri-search-line"></i>
                                    <i class="ri-close-line"></i>
                                    <div class="sticky_form">
                                        <form role="search" class="bs-search search-form" method="get">
                                            <div class="search-wrap">
                                                <label class="screen-reader-text active">
                                                    Search for: </label>
                                                <input type="search" placeholder="Searching..." name="s" class="search-input" value="">
                                                <button type="submit" value="Search"><i class="ri-search-line"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="header-btn">
                                <a class="main-btn" href="contact.html">Get a Quote <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg></a>
                            </div>
                            <div class="canvasmenu-trigger view-md">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->
        </header>
        <!--Header End-->
    </div>
    <!--======== Header Ends ========-->