/*===== 03 - Modules (Template Design Elements) =====*/

@import "./banner";
@import "./service";
@import "./about";
@import "./featured";
@import "./why-choose";
@import "./counter";
@import "./cta";
@import "./progress";
@import "./case-study";
@import "./testimonial";
@import "./brand";
@import "./team";
@import "./newsletter";
@import "./blog";
@import "./contact";
@import "./project";
@import "./pricing";
@import "./faq";
@import "./work-process";
@import "./signup-process";
@import "./shop";
@import "./cart";
@import "./checkout";
@import "./my-account";