/*----------------------------------------*/
/*  03.13 - Newsletter
/*----------------------------------------*/

.rs-newsletter{
    position: relative;
    z-index: 15;
    margin-top: -135px;
    margin-bottom: -138px;
    @media #{$tablet-device} {
        margin-top: -140px;
    }
    @media #{$large-mobile} {
        margin-top: -140px;
    }
    &__box{
        background-image: url(../images/newsletter/newsletter-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 92px 110px 87px 110px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media #{$tablet-device} {
            flex-direction: column;
            gap: 30px;
            padding: 52px 20px 47px 20px;
        }
        @media #{$large-mobile} {
            flex-direction: column;
            gap: 30px;
            padding: 52px 20px 47px 20px;
        }
    }
    &__shape{
        position: absolute;
        bottom: 70px;
        right: 540px;
        animation: translateor3 4s linear infinite;
        @media #{$desktop-device} {
            right: 350px;
        }
    }
    &__btn{        
        & > a{
            margin: 0;
            background: $white;
            color: $heading-color;
            border: 2px solid $white;
            transition: $transition;
            & svg{
                margin-left: 8px;
                & path{
                    fill: $primary;
                    transition: $transition;
                }
            }
            &:hover{
                background: transparent;
                color: $white;
                & svg{
                    & path{
                        fill: $white;
                    }
                }
            }
        }
    }
    &.rs-about-newsletter{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.rs-newsletter-2{
    background-image: url(../images/newsletter/cta-bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    &__box{
        text-align: center;
        & .title{
            color: $white; 
            font-size: 48px;
            line-height: 60px;
            padding: 0 50px;
            @media #{$laptop-device} {
                font-size: 46px;
                line-height: 60px;
            }
            @media #{$desktop-device} {
                font-size: 36px;
                line-height: 48px;
            }
            @media #{$tablet-device} {
                font-size: 42px;
                line-height: 54px;
                padding: 0;
            }
            @media #{$large-mobile} {
                font-size: 36px;
                line-height: 46px;
                padding: 0 30px;
            }
            @media #{$small-mobile} {
                font-size: 30px;
                line-height: 40px;
                padding: 0 0px;
            }
            & span{
                background: -webkit-linear-gradient(130deg, #f28e26 0%, #f24c1a 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
    &__btn{
        & a{
            margin-top: 35px;
        }
    }
    &__shape-1{
        position: absolute;
        left: 280px;
        top: 75px;
        z-index: -1;
        animation: rotating 25s linear infinite;
        height: 40px;
        width: 40px;
        @media #{$large-mobile} {
            display: none;
        }
    }
    &__shape-2{
        position: absolute;
        right: 275px;
        bottom: 140px;
        z-index: -1;
        animation: translateor3 5s linear infinite;
        @media #{$large-mobile} {
            display: none;
        }
    }
}