/*----------------------------------------
	03.23 - Checkout
----------------------------------------*/

.rs-checkout {
	.checkout-title {
		margin-bottom: 30px;
		h2 {
			font-size: 40px;
			margin: 0;
			color: $heading-color-2;
            @media #{$tablet-device} {
                font-size: 30px;
            } 
            @media #{$large-mobile} {
                font-size: 30px;
            } 
		}
	}
	.coupon-toggle {
		.rs-accordion {
			.card {
				border: unset;
				border-top: 3px solid $primary;
				border-radius: 0;
				.card-header {
					border: none;
					margin: 0;
					border-radius: unset;
                    padding: 15px 30px;
                    background: #f9f9f9;
					.card-title {
						margin: 0;
						span {
							i {
								margin-right: 10px;
							}
						}
						button {
							background: unset;
							border: none;
							color: $heading-color-2;
							transition: $transition;
							outline: none;
							cursor: pointer;
                            font-size: 18px;
                            font-weight: 600;
                            font-family: $font-family-base;
                            opacity: 1;
                            text-align: left;
							&:hover {
								color: $primary;
							}
						}
					}
				}
			}
		}
	}
	
	.full-grid { 
		margin-top: 25px;   
		.form-content-box {
			margin-bottom: 50px;
			.checkout-title{
				h3{
					color: $heading-color-2;
				}
			}
			.form-group {
                margin-bottom: 20px;
				label {
					line-height: 2;
					display: block;
					margin-bottom: 5px;
					font-weight: 600;
				}
				select {
					color: $text-color;
					padding-left: 20px;
					padding-right: 20px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					border: 1px solid rgba(54, 54, 54, 0.1);
					border-radius: 0;
					height: 60px;
					line-height: 45px;
					cursor: pointer;
					width: 100%;
					outline: none;
                    background: $white;
                    font-size: 16px;
                    font-family: $font-family-base;
				}
				textarea {
					height: 160px;
					line-height: 1.5;
					display: block;
					box-shadow: none;
					width: 100%;
					border: 1px solid rgba(54, 54, 54, 0.1);
					padding: 10px 18px;
					margin: 0;
					outline: none;
                    font-size: 16px;
                    color: $text-color;
                    resize: none;
                    font-family: $font-family-base;
				}
				.form-control-mod {
					border: 1px solid rgba(54, 54, 54, 0.1);
					height: 60px;
					padding: 0px 20px;
					width: 100%;
					margin: 0;
					outline: none;
					line-height: normal;
					border-radius: unset;
                    font-family: $font-family-base;
                    font-size: 16px;
                    color: $text-color;
                    opacity: 1;
					&.margin-bottom {
						margin-bottom: 10px !important;
					}
				}
			}
		}
		.ordered-product {
			.checkout-title{
				h3{
					color: $heading-color-2;
				}
			}
			table {
				width: 100%;
                text-align: left;
				tr {
					th {
						border: 1px solid #ccc;
						padding: 9px 12px;
                        font-weight: 600;
                        color: #303030;
					}
					td {
						border: 1px solid #ccc;
						padding: 6px 12px;
                        & strong{
                            font-weight: 600;
                            color: #303030;
                            color: #303030;
                        }
					}
				}
			}
		}

		.payment-method {
			.top-area {
				border-bottom: 1px solid #d3ced2;
				.payment-co {
					margin-bottom: 20px;
					span {
						font-weight: 600;
						margin-right: 10px;
					}
				}
				.p-msg {
					position: relative;
					box-sizing: border-box;
					width: 100%;
					padding: 1em;
					margin: 1em 0 2em;
					font-size: .92em;
					border-radius: 2px;
					line-height: 1.5;
					background-color: #f9f9f9;
					&:before {
						content: '';
						display: block;
						border: 1em solid #f9f9f9;
						border-right-color: transparent;
						border-left-color: transparent;
						border-top-color: transparent;
						position: absolute;
						top: -.75em;
						left: 0;
						margin: -1em 0 0 2em;
					}
				}
			}
            & .bottom-area{
                & button{
                    border: 0;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font-family-base;
                }
            }
		}
	}
}
