/*----------------------------------------
	03.24 - My Account
----------------------------------------*/
.rs-my-account{
	.title{
		font-size: 40px;
		line-height: 46px;
		font-weight: 700;
		color: $heading-color-2;
		margin: 0;
		@media #{$desktop-device} {
			font-size: 30px;
		}
		@media #{$tablet-device} {
			font-size: 30px;
		}
		@media #{$large-mobile} {
			font-size: 30px;
		}
	}
	.rs-login{
		border: 0;
		padding: 0px;
		text-align: left;
		border-radius: 5px;
		& > label{
			@media #{$small-mobile} {
				display: block;
				margin-top: 15px;
			}
		}
		.form-group{
            margin-bottom: 20px;
			label{
				display: block;
				font-size: 18px;
				line-height: 30px;
				font-weight: 500;
				color: $text-color;
                margin-bottom: 5px;
				@media #{$large-mobile} {
					font-size: 16px;
				}
				span{
					color: red;
                    display: inline-block;
                    margin-left: 5px;
				}
			}
			input{
				width: 100%;
				margin: 0;
				outline: 0;
				line-height: normal;
				border: 1px solid rgba(54,54,54,.1);
				height: 60px;
                padding: 0 20px;
			}
		}
		.last-password{
			a{
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
			}
		}
		p{
			font-size: 15px;
			line-height: 26px;
			font-weight: 400;
			color: $text-color;
			margin-bottom: 14px;
			a{  
				font-size: 15px;
				line-height: 26px;
				font-weight: 400;
				color: $primary;
			}
		}
        button{
            margin-top: 0;
            border: 0;
            font-size: 16px;
            margin-right: 15px;
        }
	}
}