/*----------------------------------------*/
/*  03.20 - Signup Process
/*----------------------------------------*/

.rs-signup-process-6{
    position: relative;
    z-index: 10;
    & .rs-section-title-4{
        padding: 0 30px 40px;
        @media #{$extra-minBig-device-2} {
            padding: 0 0 10px;
        }
    }
    &__item{
        text-align: center;
        background: $white;
        padding: 50px 26px 35px 26px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
        margin-top: 30px;
        & span{
            font-size: 30px;
            font-weight: 600;
            color: #4640DE;
            font-family: $headings-font-family;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                height: 3px;
                width: 13px;
                background: #4640DE;
            }
            &::after{
                position: absolute;
                content: '';
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
                height: 3px;
                width: 13px;
                background: #4640DE;
            }
        }
        & .title{
            font-size: 24px;
            color: $heading-color-2;
            margin-top: 10px;
            margin-bottom: 18px;
            @media #{$desktop-device} {
              font-size: 18px;
            } 
        }
        & p{
            font-size: 16px;
            color: #54595F;
            line-height: 1.6;
        }
    }
    &__btn{
        text-align: center;
        & a{
            padding: 20px 60px 20px 60px;
            background: #4640DE;
            color: #ffffff;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            margin-top: 60px;
            transition: $transition;
            &:hover{
                background: #534ff8;
            }
        }
    }
}